.pointStart{
    text-align: center;
    padding: 70px;
}
.start{
    width: 200px;
    height: 35px;
    background: none;
    border: 3px double black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}


